@model Vidly.Models.Customer

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <h1 class="display-2">@Model.Name</h1>
    <ul class="list-group">
        <li class="list-group-item">Membership Type : @Model.MembershipType.Name</li>
        @if (@Model.DateOfBirth != null)
        {
            <li class="list-group-item">Birthday : @Model.DateOfBirth.Value.ToLongDateString()</li>
        }
    </ul>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
